Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Games
Plugins/VictoryPlugin/Intermediate
Plugins/ZipUtility-ue4/Docs
Plugins/ZipUtility-ue4/Intermediate
Plugins/ZipUtility-ue4/ThirdParty
Ejecutar.bat
OcultarVentana.vbs
Url.json
Ventana.bat
